// Colors
$bodyColor: #1f1f1f;
$primaryFontColor: #fff;
$accentFontColor: #e0a900;
$itemColor: #505050;

// Dimensions
$borderRadius: 10px;
$contentPadding: 10%;
$innerPadding: 5%;
$verticalPadding: 25px;
